@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blogdeneme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/blogdeneme.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
  @*       <div>
        <label>@localizer["Select Language: "]</label>
            <select id="lang-select" onchange="changeLang(this)">
      
            <option value="tr">@localizer["tr"]</option>
            <option value="en">@localizer["en"]</option>
            <option value="de">@localizer["de"]</option>
        </select>
    </div>
    <br />
    <br />*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">blogdeneme</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_MenuLocalization.GetKey("Home")</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@_MenuLocalization.GetKey("Privacy")</a>


                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">@_MenuLocalization.GetKey("Contact")</a>


                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                    Localization
                                </button>
                                <ul class="dropdown-menu" id="lang-select">
                                    <li>
                                        <a asp-controller="Home"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="en-US"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> English
                                        </a>
                                    </li>
                                    <li>
                                        
                                        <a asp-controller="Home"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="tr-TR"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> Türkçe
                                        </a>
                                    </li>

                                    <li>

                                        <a asp-controller="Home"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="fr-FR"
                                           class="dropdown-item">
                                            <i class="flag-icon flag-icon-gb"></i> Fransızca
                                        </a>
                                    </li>
                                </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - blogdeneme - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
  
</body>
</html>
